<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>eLearning</title>
  

<!-- Bootstrap core css -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<!-- Base core css -->
<link href="/static/css/base.css" rel="stylesheet" />
<!-- Home page core css -->
<link href="/static/css/home.css" rel="stylesheet" />


</head>
<body>


<script src="/static/js/jquery-2.2.2.min.js" rel="script"></script>
<!-- Bootstrap core js -->
<script src="/static/js/bootstrap.min.js" rel="script"></script>
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  <!-- Navigation bar -->
<nav class="navbar" role="navigation">
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        
          <li><a href="/"><span class="glyphicon glyphicon-education"></span> Cursos</a></li>
        
        <li><a href="/about/"><span class="glyphicon glyphicon-info-sign"></span>Quienes somos</a></li>
        <li><a href="/contact/"><span class="glyphicon glyphicon-earphone"></span> Contáctanos</a></li>
        
      </ul>

      <!-- Right align -->
      <ul class="nav navbar-nav navbar-right">
        
          <li><a href="/accounts/register"><span class="glyphicon glyphicon-plus"></span> Sign Up</a></li>
          <li><a href="/accounts/login"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
        
      </ul>
    </div>
  </div>
</nav>
  

  <!----start-banner---->
  <div class="banner text-center"></div>
  <!----end-banner---->

  <!----start-content---->
  <div class="featured_content" id="feature">
    <div class="container">
      <div class="row text-center">

       

       
      </div>
    </div>
  </div>

  <hr/>
  </div>


</div>

<div id="footer">
  <div class="container">
  
  </div>
</div>



</body>
</html>